In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./data/combined data/data.xlsx')

In [3]:
df

,Closed Status,Duration,Start Station Id,Start Date,Start Station Name,End Date,End Station Id,End Station Name,Rider Type
0,NORMAL,257,13,"Sun, Apr 30, 2023, 11:54 PM",S Bouquet Ave & Sennott St,"Sun, Apr 30, 2023, 11:59 PM",34.0,N Dithridge St & Centre Ave,MEMBER
1,NORMAL,310,37,"Sun, Apr 30, 2023, 11:35 PM",S Negley Ave & Centre Ave,"Sun, Apr 30, 2023, 11:40 PM",25.0,Penn Ave & S Whitfield St,MEMBER
2,NORMAL,331,7,"Sun, Apr 30, 2023, 11:33 PM",Liberty Ave & Gross St,"Sun, Apr 30, 2023, 11:38 PM",19.0,42nd St & Butler St,MEMBER
3,NORMAL,345,13,"Sun, Apr 30, 2023, 11:08 PM",S Bouquet Ave & Sennott St,"Sun, Apr 30, 2023, 11:14 PM",20.0,Boulevard of the Allies & Parkview Ave,MEMBER
4,NORMAL,1714,17,"Sun, Apr 30, 2023, 11:06 PM",Taylor St & Liberty Ave,"Sun, Apr 30, 2023, 11:34 PM",37.0,S Negley Ave & Centre Ave,MEMBER
...,...,...,...,...,...,...,...,...,...
283574,NORMAL,584,23,2023-09-01 00:15:44,North Shore Trail & Fort Duquesne Bridge,2023-09-01 00:25:28,21.0,Liberty Ave & Stanwix St,MEMBER
283575,GRACE_PERIOD,23,23,2023-09-01 00:15:31,North Shore Trail & Fort Duquesne Bridge,2023-09-01 00:15:54,23.0,North Shore Trail & Fort Duquesne Bridge,MEMBER
283576,NORMAL,723,12,2023-09-01 00:11:49,O'Hara St and University Place,2023-09-01 00:23:52,25.0,Penn Ave & S Whitfield St,MEMBER
283577,NORMAL,434,48,2023-09-01 00:10:41,S Millvale Ave & Centre Ave,2023-09-01 00:17:55,13.0,S Bouquet Ave & Sennott St,MEMBER
283578,NORMAL,440,48,2023-09-01 00:10:33,S Millvale Ave & Centre Ave,2023-09-01 00:17:53,13.0,S Bouquet Ave & Sennott St,MEMBER

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283579 entries, 0 to 283578
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Closed Status       277460 non-null  object
 1   Duration            283579 non-null  int64
 2   Start Station Id    283579 non-null  int64
 3   Start Date          283579 non-null  object
 4   Start Station Name  283579 non-null  object
 5   End Date            283579 non-null  object
 6   End Station Id      283333 non-null  float64
 7   End Station Name    283338 non-null  object
 8   Rider Type          283579 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 19.5+ MB

In [5]:
df.isna().sum()

Closed Status         6119
Duration                 0
Start Station Id         0
Start Date               0
Start Station Name       0
End Date                 0
End Station Id         246
End Station Name       241
Rider Type               0
dtype: int64

In [6]:
df['Closed Status'].value_counts()

NORMAL           258281
GRACE_PERIOD      18425
TERMINATED          429
FORCED_CLOSED       325
Name: Closed Status, dtype: int64