In [2]:
import pandas as pd

In [30]:
df = pd.read_parquet('./data/combined data/data.parquet')

In [31]:
df

,Closed Status,Duration,Start Station Id,Start Date,Start Station Name,End Date,End Station Id,End Station Name,Rider Type,Start Station Total Docks,Start Station Latitude,Start Station Longitude,End Station Total Docks,End Station Latitude,End Station Longitude,Trip Distance,Trip Time
0,NORMAL,257,13,2023-04-30 23:54:00,S Bouquet Ave & Sennott St,2023-04-30 23:59:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:05:00
1,NORMAL,351,13,2023-04-30 10:21:00,S Bouquet Ave & Sennott St,2023-04-30 10:27:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:06:00
2,NORMAL,310,13,2023-04-30 03:59:00,S Bouquet Ave & Sennott St,2023-04-30 04:04:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:05:00
3,NORMAL,408,13,2023-04-30 00:44:00,S Bouquet Ave & Sennott St,2023-04-30 00:50:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:06:00
4,NORMAL,417,13,2023-04-29 09:19:00,S Bouquet Ave & Sennott St,2023-04-29 09:26:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283329,GRACE_PERIOD,22,43,2023-10-01 15:19:46,Eliza St & Lytle St,2023-10-01 15:20:08,43,Eliza St & Lytle St,MEMBER,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:00:22
283330,GRACE_PERIOD,5,43,2023-09-19 11:44:30,Eliza St & Lytle St,2023-09-19 11:44:35,43,Eliza St & Lytle St,MEMBER,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:00:05
283331,NORMAL,1531,43,2023-09-13 12:31:42,Eliza St & Lytle St,2023-09-13 12:57:13,43,Eliza St & Lytle St,CASUAL,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:25:31
283332,NORMAL,1782,43,2023-09-05 20:05:42,Eliza St & Lytle St,2023-09-05 20:35:24,43,Eliza St & Lytle St,CASUAL,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:29:42
283333,NORMAL,1886,43,2023-09-05 20:04:09,Eliza St & Lytle St,2023-09-05 20:35:35,43,Eliza St & Lytle St,CASUAL,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:31:26

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283334 entries, 0 to 283333
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Closed Status              283334 non-null  object
 1   Duration                   283334 non-null  int64
 2   Start Station Id           283334 non-null  int64
 3   Start Date                 283334 non-null  datetime64[ns]
 4   Start Station Name         283334 non-null  object
 5   End Date                   283334 non-null  datetime64[ns]
 6   End Station Id             283334 non-null  int64
 7   End Station Name           283334 non-null  object
 8   Rider Type                 283334 non-null  object
 9   Start Station Total Docks  283334 non-null  int64
 10  Start Station Latitude     283334 non-null  float64
 11  Start Station Longitude    283334 non-null  float64
 12  End Station Total Docks    283334 non-null  int64
 13  End Station Latitude       283334 non-null  float64
 14  End Station Longitude      283334 non-null  float64
 15  Trip length                283334 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(5), object(4)
memory usage: 34.6+ MB

In [22]:
df['Closed Status'].unique()

array(['NORMAL', 'TERMINATED', 'None', 'FORCED_CLOSED', 'GRACE_PERIOD'],
      dtype=object)

In [23]:
df.isna().sum()

Closed Status                0
Duration                     0
Start Station Id             0
Start Date                   0
Start Station Name           0
End Date                     0
End Station Id               0
End Station Name             0
Rider Type                   0
Start Station Total Docks    0
Start Station Latitude       0
Start Station Longitude      0
End Station Total Docks      0
End Station Latitude         0
End Station Longitude        0
Trip length                  0
dtype: int64

In [24]:
df['Closed Status'].value_counts()

NORMAL           258281
GRACE_PERIOD      18421
None               6097
FORCED_CLOSED       325
TERMINATED          210
Name: Closed Status, dtype: int64

In [26]:
df

,Closed Status,Duration,Start Station Id,Start Date,Start Station Name,End Date,End Station Id,End Station Name,Rider Type,Start Station Total Docks,Start Station Latitude,Start Station Longitude,End Station Total Docks,End Station Latitude,End Station Longitude,Trip length,Trip Time
0,NORMAL,257,13,2023-04-30 23:54:00,S Bouquet Ave & Sennott St,2023-04-30 23:59:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:05:00
1,NORMAL,351,13,2023-04-30 10:21:00,S Bouquet Ave & Sennott St,2023-04-30 10:27:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:06:00
2,NORMAL,310,13,2023-04-30 03:59:00,S Bouquet Ave & Sennott St,2023-04-30 04:04:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:05:00
3,NORMAL,408,13,2023-04-30 00:44:00,S Bouquet Ave & Sennott St,2023-04-30 00:50:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:06:00
4,NORMAL,417,13,2023-04-29 09:19:00,S Bouquet Ave & Sennott St,2023-04-29 09:26:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,19,40.451281,-79.952982,1.096491,0 days 00:07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283329,GRACE_PERIOD,22,43,2023-10-01 15:19:46,Eliza St & Lytle St,2023-10-01 15:20:08,43,Eliza St & Lytle St,MEMBER,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:00:22
283330,GRACE_PERIOD,5,43,2023-09-19 11:44:30,Eliza St & Lytle St,2023-09-19 11:44:35,43,Eliza St & Lytle St,MEMBER,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:00:05
283331,NORMAL,1531,43,2023-09-13 12:31:42,Eliza St & Lytle St,2023-09-13 12:57:13,43,Eliza St & Lytle St,CASUAL,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:25:31
283332,NORMAL,1782,43,2023-09-05 20:05:42,Eliza St & Lytle St,2023-09-05 20:35:24,43,Eliza St & Lytle St,CASUAL,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:29:42
283333,NORMAL,1886,43,2023-09-05 20:04:09,Eliza St & Lytle St,2023-09-05 20:35:35,43,Eliza St & Lytle St,CASUAL,19,40.413481,-79.948254,19,40.413481,-79.948254,0.000000,0 days 00:31:26