In [1]:
import os

from geopy import distance

import pandas as pd

In [2]:
path = os.getcwd() + "\\data\\raw data\\ridership data\\"

In [3]:
path

'c:\\Users\\piggy\\Desktop\\work\\POGOH_Analysis\\data\\raw data\\ridership data\\'

In [4]:
files = os.listdir(path)

In [5]:
files

['apr-2023.xlsx',
 'august-2022.xlsx',
 'august-2023.xlsx',
 'december-2022.xlsx',
 'december-2023.xlsx',
 'february-2023.xlsx',
 'february-2024.xlsx',
 'january-2023.xlsx',
 'january-2024.xlsx',
 'july-2022.xlsx',
 'july-2023.xlsx',
 'june-2022.xlsx',
 'june-2023.xlsx',
 'march-2023.xlsx',
 'march-2024.xlsx',
 'may-2022.xlsx',
 'may-2023.xlsx',
 'november-2022.xlsx',
 'november-2023.xlsx',
 'october-2022.xlsx',
 'october-2023.xlsx',
 'september-2022.xlsx',
 'september-2023.xlsx']

In [6]:
df = pd.DataFrame()

In [7]:
type_map = {'Start Date': 'datetime64', 'End Date': 'datetime64'}

In [8]:
for f in files:
    data = pd.read_excel('./data/raw data/ridership data/' + f, dtype=type_map)
    df = df.append(data)

C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\piggy\AppData\Local\Temp\ipykernel_26044\1923932813.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

In [9]:
df.reset_index(drop=True, inplace=True)

In [10]:
stations = pd.read_excel('./data/raw data/station data/pogoh-station-locations-october-2023.xlsx')

In [11]:
df

,Closed Status,Duration,Start Station Id,Start Date,Start Station Name,End Date,End Station Id,End Station Name,Rider Type
0,NORMAL,257,13,2023-04-30 23:54:00,S Bouquet Ave & Sennott St,2023-04-30 23:59:00,34.0,N Dithridge St & Centre Ave,MEMBER
1,NORMAL,310,37,2023-04-30 23:35:00,S Negley Ave & Centre Ave,2023-04-30 23:40:00,25.0,Penn Ave & S Whitfield St,MEMBER
2,NORMAL,331,7,2023-04-30 23:33:00,Liberty Ave & Gross St,2023-04-30 23:38:00,19.0,42nd St & Butler St,MEMBER
3,NORMAL,345,13,2023-04-30 23:08:00,S Bouquet Ave & Sennott St,2023-04-30 23:14:00,20.0,Boulevard of the Allies & Parkview Ave,MEMBER
4,NORMAL,1714,17,2023-04-30 23:06:00,Taylor St & Liberty Ave,2023-04-30 23:34:00,37.0,S Negley Ave & Centre Ave,MEMBER
...,...,...,...,...,...,...,...,...,...
350780,NORMAL,584,23,2023-09-01 00:15:44,North Shore Trail & Fort Duquesne Bridge,2023-09-01 00:25:28,21.0,Liberty Ave & Stanwix St,MEMBER
350781,GRACE_PERIOD,23,23,2023-09-01 00:15:31,North Shore Trail & Fort Duquesne Bridge,2023-09-01 00:15:54,23.0,North Shore Trail & Fort Duquesne Bridge,MEMBER
350782,NORMAL,723,12,2023-09-01 00:11:49,O'Hara St and University Place,2023-09-01 00:23:52,25.0,Penn Ave & S Whitfield St,MEMBER
350783,NORMAL,434,48,2023-09-01 00:10:41,S Millvale Ave & Centre Ave,2023-09-01 00:17:55,13.0,S Bouquet Ave & Sennott St,MEMBER
350784,NORMAL,440,48,2023-09-01 00:10:33,S Millvale Ave & Centre Ave,2023-09-01 00:17:53,13.0,S Bouquet Ave & Sennott St,MEMBER

In [12]:
df.dtypes

Closed Status                 object
Duration                       int64
Start Station Id               int64
Start Date            datetime64[ns]
Start Station Name            object
End Date              datetime64[ns]
End Station Id               float64
End Station Name              object
Rider Type                    object
dtype: object

In [13]:
df.isna().sum()

Closed Status         6119
Duration                 0
Start Station Id         0
Start Date               0
Start Station Name       0
End Date                 0
End Station Id         271
End Station Name       266
Rider Type               0
dtype: int64

In [14]:
df[df['End Station Id'].isna()]

,Closed Status,Duration,Start Station Id,Start Date,Start Station Name,End Date,End Station Id,End Station Name,Rider Type
3329,TERMINATED,3571,21,2023-04-21 00:47:00,Liberty Ave & Stanwix St,2023-04-21 01:47:00,NaN,NaN,CASUAL
3330,TERMINATED,37007,21,2023-04-21 00:47:00,Liberty Ave & Stanwix St,2023-04-21 11:04:00,NaN,NaN,CASUAL
4484,TERMINATED,1144,26,2023-04-18 15:30:00,S 27th St & Sidney St. (Southside Works),2023-04-18 15:50:00,NaN,NaN,MEMBER
4532,TERMINATED,10914,22,2023-04-18 11:35:00,Forbes Ave & Market Square,2023-04-18 14:37:00,NaN,NaN,MEMBER
4606,TERMINATED,821,23,2023-04-18 07:20:00,North Shore Trail & Fort Duquesne Bridge,2023-04-18 07:34:00,NaN,NaN,MEMBER
...,...,...,...,...,...,...,...,...,...
344928,TERMINATED,556,17,2023-09-06 09:06:44,Taylor St & Liberty Ave,2023-09-06 09:16:00,NaN,NaN,MEMBER
344979,TERMINATED,2098,57,2023-09-06 08:38:02,52nd St & Butler St,2023-09-06 09:13:00,NaN,NaN,CASUAL
345721,TERMINATED,86946,13,2023-09-05 14:34:54,S Bouquet Ave & Sennott St,2023-09-06 14:44:00,NaN,NaN,MEMBER
346152,TERMINATED,1788,24,2023-09-05 07:57:12,Penn Ave & 33rd St,2023-09-05 08:27:00,NaN,NaN,MEMBER
348549,TERMINATED,234471,5,2023-09-02 20:17:09,Allegheny Station,2023-09-05 13:25:00,NaN,NaN,CASUAL

In [15]:
df[df['End Station Name'].isna()]

,Closed Status,Duration,Start Station Id,Start Date,Start Station Name,End Date,End Station Id,End Station Name,Rider Type
3329,TERMINATED,3571,21,2023-04-21 00:47:00,Liberty Ave & Stanwix St,2023-04-21 01:47:00,NaN,NaN,CASUAL
3330,TERMINATED,37007,21,2023-04-21 00:47:00,Liberty Ave & Stanwix St,2023-04-21 11:04:00,NaN,NaN,CASUAL
4484,TERMINATED,1144,26,2023-04-18 15:30:00,S 27th St & Sidney St. (Southside Works),2023-04-18 15:50:00,NaN,NaN,MEMBER
4532,TERMINATED,10914,22,2023-04-18 11:35:00,Forbes Ave & Market Square,2023-04-18 14:37:00,NaN,NaN,MEMBER
4606,TERMINATED,821,23,2023-04-18 07:20:00,North Shore Trail & Fort Duquesne Bridge,2023-04-18 07:34:00,NaN,NaN,MEMBER
...,...,...,...,...,...,...,...,...,...
344928,TERMINATED,556,17,2023-09-06 09:06:44,Taylor St & Liberty Ave,2023-09-06 09:16:00,NaN,NaN,MEMBER
344979,TERMINATED,2098,57,2023-09-06 08:38:02,52nd St & Butler St,2023-09-06 09:13:00,NaN,NaN,CASUAL
345721,TERMINATED,86946,13,2023-09-05 14:34:54,S Bouquet Ave & Sennott St,2023-09-06 14:44:00,NaN,NaN,MEMBER
346152,TERMINATED,1788,24,2023-09-05 07:57:12,Penn Ave & 33rd St,2023-09-05 08:27:00,NaN,NaN,MEMBER
348549,TERMINATED,234471,5,2023-09-02 20:17:09,Allegheny Station,2023-09-05 13:25:00,NaN,NaN,CASUAL

In [16]:
df[(df['End Station Id'].isna()) & ~(df['End Station Name'].isna())]

,Closed Status,Duration,Start Station Id,Start Date,Start Station Name,End Date,End Station Id,End Station Name,Rider Type
157420,TERMINATED,288565,23,2023-06-19 00:58:35,North Shore Trail & Fort Duquesne Bridge,2023-06-22 09:08:00,NaN,North Shore Trail & Fort Duquesne Bridge,CASUAL
157421,TERMINATED,48969,23,2023-06-19 00:53:51,North Shore Trail & Fort Duquesne Bridge,2023-06-19 14:30:00,NaN,North Shore Trail & Fort Duquesne Bridge,CASUAL
205546,TERMINATED,142447,23,2023-05-30 20:13:53,North Shore Trail & Fort Duquesne Bridge,2023-06-01 11:48:00,NaN,North Shore Trail & Fort Duquesne Bridge,CASUAL
205641,TERMINATED,2452,23,2023-05-30 17:59:08,North Shore Trail & Fort Duquesne Bridge,2023-05-30 18:40:00,NaN,North Shore Trail & Fort Duquesne Bridge,MEMBER
207496,TERMINATED,413955,22,2023-05-27 16:41:45,Forbes Ave & Market Square,2023-06-01 11:41:00,NaN,Forbes Ave & Market Square,MEMBER

In [17]:
df.at[117631, 'End Station Id'] = 23
df.at[117632, 'End Station Id'] = 23
df.at[138435, 'End Station Id'] = 23
df.at[138340, 'End Station Id'] = 23
df.at[140290, 'End Station Id'] = 22

In [18]:
df['End Station Id'].fillna(0, inplace=True)

In [19]:
df['End Station Id'] = df['End Station Id'].astype('int64')

In [20]:
df['End Station Name'].fillna("None", inplace=True)

In [21]:
stations

,Id,Name,Total Docks,Latitude,Longitude
0,1,Pierce St & Summerlea St,19,40.456507,-79.932331
1,2,Eliza Furnace Trail & Swineburne St,15,40.425800,-79.953400
2,3,Centre Ave & Addison St,15,40.444600,-79.978300
3,4,Burns White Center at 3 Crossings,15,40.456400,-79.980000
4,5,Allegheny Station,19,40.448301,-80.018007
5,6,10th St & Penn Ave,15,40.444653,-79.996074
6,7,Liberty Ave & Gross St,15,40.459588,-79.945204
7,8,Glasshouse,15,40.432900,-80.003000
8,9,South Side Trail & S 4th St,15,40.431336,-79.995106
9,10,Zulema St & Coltart Ave,19,40.436055,-79.956827
10,11,Ellsworth Ave & N Neville St,15,40.448203,-79.947507
11,12,O'Hara St and University Place,23,40.445117,-79.957118
12,13,S Bouquet Ave & Sennott St,23,40.441638,-79.955764
13,14,Tioga St & N Homewood Ave,15,40.454226,-79.897544
14,15,Ivy St & Walnut St,15,40.451781,-79.932253
15,16,Penn Ave & Putnam St (Bakery Square),18,40.455900,-79.915300
16,17,Taylor St & Liberty Ave,15,40.462778,-79.950868
17,18,21st St & Penn Ave,19,40.451800,-79.983300
18,19,42nd St & Butler St,15,40.470221,-79.960380
19,20,Boulevard of the Allies & Parkview Ave,19,40.434400,-79.951900
20,21,Liberty Ave & Stanwix St,15,40.441200,-80.004800
21,22,Forbes Ave & Market Square,19,40.440773,-80.003312
22,23,North Shore Trail & Fort Duquesne Bridge,23,40.445800,-80.009100
23,24,Penn Ave & 33rd St,11,40.462000,-79.968300
24,25,Penn Ave & S Whitfield St,15,40.461600,-79.925700
25,26,S 27th St & Sidney St. (Southside Works),23,40.427991,-79.966296
26,27,W Station Square Dr & Bessemer Court,15,40.433800,-80.004700
27,28,Fifth Ave & S Bouquet St,22,40.442200,-79.957600
28,29,Forbes Ave & Schenley Dr,27,40.443300,-79.952800
29,30,Shady Ave & Ellsworth Ave,15,40.459181,-79.921996
30,31,First Ave & B St,15,40.435922,-79.997551
31,32,Ross St & Fourth Ave,15,40.437701,-79.996481
32,33,Schenley Dr & Schenley Dr Ext,19,40.442371,-79.951688
33,34,N Dithridge St & Centre Ave,19,40.451281,-79.952982
34,35,Butler St & 36th St,15,40.465264,-79.965652
35,36,Penn Ave & S Pacific Ave,15,40.464600,-79.939900
36,37,S Negley Ave & Centre Ave,15,40.457316,-79.934331
37,38,Allequippa St & Darragh St,23,40.443591,-79.965456
38,39,S 12th St & E Carson St,19,40.428600,-79.986371
39,40,7th St & Penn Ave,19,40.443419,-80.000311
40,41,S 22nd St & Sidney St,19,40.429212,-79.974535
41,42,Second Ave & Tecumseh St,19,40.408857,-79.943684
42,43,Eliza St & Lytle St,19,40.413481,-79.948254
43,44,Hamilton Ave & Fifth Ave,15,40.457570,-79.909952
44,45,N Braddock Ave & Hamilton Ave,15,40.453010,-79.891204
45,46,N Braddock Ave & Frankstown Ave,15,40.456060,-79.889954
46,47,17th St & Penn Ave,19,40.449626,-79.985918
47,48,S Millvale Ave & Centre Ave,19,40.453427,-79.947460
48,49,Technology Dr & Bates St,19,40.430513,-79.959989
49,50,Atwood St & Bates St,19,40.437987,-79.953705
50,51,Coltart Ave & Forbes Ave,18,40.439012,-79.960292
51,52,Bedford Ave & Memory Ln,19,40.448361,-79.978268
52,53,Centre Ave & Heldman St,19,40.442841,-79.981616
53,54,W Ohio St & Brighton Rd,19,40.452467,-80.013872
54,55,Brighton Rd & Pennsylvania Ave,19,40.456402,-80.015393
55,56,Rosetta St & N Aiken Ave,15,40.467018,-79.935232
56,57,52nd St & Butler St,19,40.480283,-79.954287
57,58,W North Ave & Federal St,19,40.455268,-80.007123
58,59,Forbes Ave at TCS Hall (CMU Campus),19,40.444654,-79.947535
59,60,Wilkinsburg Park & Ride,19,40.446908,-79.888645

In [22]:
print(stations.loc[59])

Id                                  60
Name           Wilkinsburg Park & Ride
Total Docks                         19
Latitude                     40.446908
Longitude                   -79.888645
Name: 59, dtype: object

In [23]:
neighborhoods = {"Pierce St & Summerlea St": "Shadyside",
                 "Eliza Furnace Trail & Swineburne St": "Hazelwood",
                 "Centre Ave & Addison St": "Middle Hill",
                 "Burns White Center at 3 Crossings": "Strip District",
                 "Allegheny Station": "Chateau",
                 "10th St & Penn Ave": "Downtown",
                 "Liberty Ave & Gross St": "Bloomfield",
                 "Glasshouse": "South Shore",
                 "South Side Trail & S 4th St": "South Side Flats",
                 "Zulema St & Coltart Ave": "Central Oakland",
                 "Ellsworth Ave & N Neville St": "Shadyside",
                 "O'Hara St and University Place": "North Oakland",
                 "S Bouquet Ave & Sennott St": "Central Oakland",
                 "Tioga St & N Homewood Ave": "Homewood South",
                 "Ivy St & Walnut St": "Shadyside",
                 "Penn Ave & Putnam St (Bakery Square)": "Shadyside",
                 "Taylor St & Liberty Ave": "Bloomfield",
                 "21st St & Penn Ave": "Strip District",
                 "42nd St & Butler St": "Central Lawrenceville",
                 "Boulevard of the Allies & Parkview Ave": "Central Oakland",
                 "Liberty Ave & Stanwix St": "Downtown",
                 "Forbes Ave & Market Square": "Downtown",
                 "North Shore Trail & Fort Duquesne Bridge": "North Shore",
                 "Penn Ave & 33rd St": "Lower Lawrenceville",
                 "Penn Ave & S Whitfield St": "East Liberty",
                 "S 27th St & Sidney St. (Southside Works)": "South Side Flats",
                 "W Station Square Dr & Bessemer Court": "South Shore",
                 "Fifth Ave & S Bouquet St": "West Oakland",
                 "Forbes Ave & Schenley Dr": "North Oakland",
                 "Shady Ave & Ellsworth Ave": "Shadyside",
                 "First Ave & B St": "Downtown",
                 "Ross St & Fourth Ave": "Downtown",
                 "Schenley Dr & Schenley Dr Ext": "North Oakland",
                 "N Dithridge St & Centre Ave": "North Oakland",
                 "Butler St & 36th St": "Lower Lawrenceville",
                 "Penn Ave & S Pacific Ave": "Bloomfield",
                 "S Negley Ave & Centre Ave": "Friendship",
                 "Allequippa St & Darragh St": "Terrace Village",
                 "S 12th St & E Carson St": "South Side Flats",
                 "7th St & Penn Ave": "Downtown",
                 "S 22nd St & Sidney St": "South Side Flats",
                 "Second Ave & Tecumseh St": "Hazelwood",
                 "Eliza St & Lytle St": "Hazelwood",
                 "Hamilton Ave & Fifth Ave": "Larimer",
                 "N Braddock Ave & Hamilton Ave": "Homewood South",
                 "N Braddock Ave & Frankstown Ave": "Homewood North",
                 "17th St & Penn Ave": "Strip District",
                 "S Millvale Ave & Centre Ave": "Bloomfield",
                 "Technology Dr & Bates St": "South Oakland",
                 "Atwood St & Bates St": "Central Oakland",
                 "Coltart Ave & Forbes Ave": "Central Oakland",
                 "Bedford Ave & Memory Ln": "Hill District",
                 "Centre Ave & Heldman St": "Crawford-Roberts",
                 "W Ohio St & Brighton Rd": "Allegheny Center",
                 "Brighton Rd & Pennsylvania Ave": "Central Northside",
                 "Rosetta St & N Aiken Ave": "Garfield",
                 "52nd St & Butler St": "Upper Lawrenceville",
                 "W North Ave & Federal St": "Allegheny Center",
                 "Forbes Ave at TCS Hall (CMU Campus)": "North Oakland",
                 "Wilkinsburg Park & Ride": "Wilkinsburg"}

In [24]:
stations['Neighborhood'] = stations['Name'].map(neighborhoods)

In [25]:
df = pd.merge(df, stations.drop(columns=['Name']).add_prefix('Start Station '), left_on='Start Station Id', right_on='Start Station Id', how='inner')

In [26]:
df = pd.merge(df, stations.drop(columns=['Name']).add_prefix('End Station '), left_on='End Station Id', right_on='End Station Id', how='inner')

In [27]:
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['End Date'] = pd.to_datetime(df['End Date'])

In [28]:
df

,Closed Status,Duration,Start Station Id,Start Date,Start Station Name,End Date,End Station Id,End Station Name,Rider Type,Start Station Total Docks,Start Station Latitude,Start Station Longitude,Start Station Neighborhood,End Station Total Docks,End Station Latitude,End Station Longitude,End Station Neighborhood
0,NORMAL,257,13,2023-04-30 23:54:00,S Bouquet Ave & Sennott St,2023-04-30 23:59:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,Central Oakland,19,40.451281,-79.952982,North Oakland
1,NORMAL,351,13,2023-04-30 10:21:00,S Bouquet Ave & Sennott St,2023-04-30 10:27:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,Central Oakland,19,40.451281,-79.952982,North Oakland
2,NORMAL,310,13,2023-04-30 03:59:00,S Bouquet Ave & Sennott St,2023-04-30 04:04:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,Central Oakland,19,40.451281,-79.952982,North Oakland
3,NORMAL,408,13,2023-04-30 00:44:00,S Bouquet Ave & Sennott St,2023-04-30 00:50:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,Central Oakland,19,40.451281,-79.952982,North Oakland
4,NORMAL,417,13,2023-04-29 09:19:00,S Bouquet Ave & Sennott St,2023-04-29 09:26:00,34,N Dithridge St & Centre Ave,MEMBER,23,40.441638,-79.955764,Central Oakland,19,40.451281,-79.952982,North Oakland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350505,GRACE_PERIOD,22,43,2023-10-01 15:19:46,Eliza St & Lytle St,2023-10-01 15:20:08,43,Eliza St & Lytle St,MEMBER,19,40.413481,-79.948254,Hazelwood,19,40.413481,-79.948254,Hazelwood
350506,GRACE_PERIOD,5,43,2023-09-19 11:44:30,Eliza St & Lytle St,2023-09-19 11:44:35,43,Eliza St & Lytle St,MEMBER,19,40.413481,-79.948254,Hazelwood,19,40.413481,-79.948254,Hazelwood
350507,NORMAL,1531,43,2023-09-13 12:31:42,Eliza St & Lytle St,2023-09-13 12:57:13,43,Eliza St & Lytle St,CASUAL,19,40.413481,-79.948254,Hazelwood,19,40.413481,-79.948254,Hazelwood
350508,NORMAL,1782,43,2023-09-05 20:05:42,Eliza St & Lytle St,2023-09-05 20:35:24,43,Eliza St & Lytle St,CASUAL,19,40.413481,-79.948254,Hazelwood,19,40.413481,-79.948254,Hazelwood
350509,NORMAL,1886,43,2023-09-05 20:04:09,Eliza St & Lytle St,2023-09-05 20:35:35,43,Eliza St & Lytle St,CASUAL,19,40.413481,-79.948254,Hazelwood,19,40.413481,-79.948254,Hazelwood

In [29]:
df['Closed Status'].fillna("None", inplace=True)

In [30]:
df[['Start Station Name', 'Start Station Latitude', 'Start Station Longitude', 'End Station Name', 'End Station Latitude', 'End Station Longitude']].sample(20)

,Start Station Name,Start Station Latitude,Start Station Longitude,End Station Name,End Station Latitude,End Station Longitude
27433,Boulevard of the Allies & Parkview Ave,40.434400,-79.951900,Boulevard of the Allies & Parkview Ave,40.434400,-79.951900
302836,S 27th St & Sidney St. (Southside Works),40.427991,-79.966296,South Side Trail & S 4th St,40.431336,-79.995106
321829,N Dithridge St & Centre Ave,40.451281,-79.952982,S Millvale Ave & Centre Ave,40.453427,-79.947460
132549,Atwood St & Bates St,40.437987,-79.953705,S Bouquet Ave & Sennott St,40.441638,-79.955764
286405,Boulevard of the Allies & Parkview Ave,40.434400,-79.951900,Atwood St & Bates St,40.437987,-79.953705
339248,Schenley Dr & Schenley Dr Ext,40.442371,-79.951688,10th St & Penn Ave,40.444653,-79.996074
96315,N Dithridge St & Centre Ave,40.451281,-79.952982,Forbes Ave & Schenley Dr,40.443300,-79.952800
300576,Coltart Ave & Forbes Ave,40.439012,-79.960292,Coltart Ave & Forbes Ave,40.439012,-79.960292
71592,Zulema St & Coltart Ave,40.436055,-79.956827,Zulema St & Coltart Ave,40.436055,-79.956827
107177,Zulema St & Coltart Ave,40.436055,-79.956827,S Bouquet Ave & Sennott St,40.441638,-79.955764
30628,Forbes Ave & Schenley Dr,40.443300,-79.952800,Boulevard of the Allies & Parkview Ave,40.434400,-79.951900
157918,Forbes Ave & Market Square,40.440773,-80.003312,Forbes Ave & Market Square,40.440773,-80.003312
91640,Forbes Ave & Schenley Dr,40.443300,-79.952800,Forbes Ave & Schenley Dr,40.443300,-79.952800
221821,Butler St & 36th St,40.465264,-79.965652,North Shore Trail & Fort Duquesne Bridge,40.445800,-80.009100
7850,O'Hara St and University Place,40.445117,-79.957118,N Dithridge St & Centre Ave,40.451281,-79.952982
219789,42nd St & Butler St,40.470221,-79.960380,S Negley Ave & Centre Ave,40.457316,-79.934331
118336,10th St & Penn Ave,40.444653,-79.996074,S Bouquet Ave & Sennott St,40.441638,-79.955764
7054,O'Hara St and University Place,40.445117,-79.957118,N Dithridge St & Centre Ave,40.451281,-79.952982
83283,Taylor St & Liberty Ave,40.462778,-79.950868,Forbes Ave & Schenley Dr,40.443300,-79.952800
317200,Technology Dr & Bates St,40.430513,-79.959989,S 22nd St & Sidney St,40.429212,-79.974535

In [31]:
def calculate_distance(row):
    coords_1 = (row['Start Station Latitude'], row['Start Station Longitude'])
    coords_2 = (row['End Station Latitude'], row['End Station Longitude'])
    return distance.distance(coords_1, coords_2).km

In [32]:
df['Trip Distance (km)'] = df.apply(calculate_distance, axis=1)

In [33]:
df['Trip Time'] = df['End Date'] - df['Start Date']

In [34]:
station_names = df[['Start Station Id', 'Start Station Name']].drop_duplicates()

In [35]:
station_names['Start Station Id'].value_counts().head(15)

4     2
32    2
14    2
21    2
24    2
2     2
23    2
22    2
30    2
28    2
25    2
1     2
20    2
26    2
57    1
Name: Start Station Id, dtype: int64

In [36]:
station_names[station_names['Start Station Id']==1]

        Start Station Id        Start Station Name
16658                  1  Pierce St & Summerlea St
334164                 1              Test-STATION

In [37]:
df = df[(df['Start Station Name'] != "Test-STATION") & (df['End Station Name'] != "Test-STATION")].copy()

In [38]:
def replace_station_names(old, new):
    df['Start Station Name'] = df['Start Station Name'].replace(old, new)
    df['End Station Name'] = df['End Station Name'].replace(old, new)

In [39]:
replace_station_names("Burns white at 3 crossings", "Burns White Center at 3 Crossings")

In [40]:
replace_station_names("S 27th St & Sidney St. (Southside Works", "S 27th St & Sidney St. (Southside Works)")

In [41]:
replace_station_names("Shady & Ellsworth", "Shady Ave & Ellsworth Ave")

In [42]:
replace_station_names("Liberty & Stanwix", "Liberty Ave & Stanwix St")

In [43]:
replace_station_names("N Homewood Ave & Finance St", "Tioga St & N Homewood Ave")

In [44]:
replace_station_names("33rd & Penn Ave", "Penn Ave & 33rd St")

In [45]:
replace_station_names("Eliza Furnace Trail at Swineburne St", "Eliza Furnace Trail & Swineburne St")

In [46]:
replace_station_names("Fifth Ave & N Bouquet St", "Fifth Ave & S Bouquet St")

In [47]:
replace_station_names("North Shore Trail", "North Shore Trail & Fort Duquesne Bridge")

In [48]:
replace_station_names("Penn Ave & S Whitfield", "Penn Ave & S Whitfield St")

In [49]:
replace_station_names("Parkview & Blvd of the Allies", "Boulevard of the Allies & Parkview Ave")

In [50]:
replace_station_names("Forbes & Market", "Forbes Ave & Market Square")

In [51]:
replace_station_names("Forbes Ave & Grant St", "Ross St & Fourth Ave")

In [52]:
df['Trip Time']

0        0 days 00:05:00
1        0 days 00:06:00
2        0 days 00:05:00
3        0 days 00:06:00
4        0 days 00:07:00
               ...
350505   0 days 00:00:22
350506   0 days 00:00:05
350507   0 days 00:25:31
350508   0 days 00:29:42
350509   0 days 00:31:26
Name: Trip Time, Length: 350495, dtype: timedelta64[ns]

In [53]:
df.to_parquet('./data/combined data/data.parquet', index=False)